body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:#0c78a1;
}
a:hover{
    color:#ff0000;
}
.bg {
    position: relative;
}
#bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
#whole {
    position: absolute;
    width: 100%;
    top: 8px;
    left: 16px;
}
#txt{
    width: 75%;
    float: left;
}
#pic {
    width: 25%;
    float: right;
}