body {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:#0c78a1;
}
a:hover{
    color:#ff0000;
}
#whole {
    width: 100%;
    
}
#bg {
    background: url("01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#txt{
    width: 75%;
    float: left;
}
#pic {
    width: 25%;
    float: right;
}