/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* Basic styles */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

header {
    background: #c9fcff;
    color: #333;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #333 3px solid;
}

header a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}

/* Header content styles */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.social-icons a {
    font-size: 24px;
    margin-left: 15px;
    color: #333;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0077B5; /* LinkedIn blue */
}

.social-icons a:last-child:hover {
    color: #211F1F; /* GitHub dark */
}

/* Rest of the CSS remains the same */